<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Spieler bearbeiten/hinzufügen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Hauptbereich zum Bearbeiten und/oder Hinzufügen von Spielern -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Spieler bearbeiten/hinzufügen</h1>

        <!-- Spielerinformationen -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">
                    Spieler-Daten
                </h2>
                <div class="player-info">
                    <div class="info-container">
                        <p><strong>Name:</strong> Max Mustermann</p>
                        <p><strong>Trikotnummer:</strong> 10</p>
                        <p><strong>Position:</strong> Mittelfeld</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
