<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Einstellungen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Hauptinhalt: Einstellungen -->
    <div class="container mt-4">
        <!-- Erfolgsmeldung -->
        <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>

        <!-- H1-Überschrift -->
        <h1>Einstellungen</h1>

        <!-- Card: Kriterien -->
        <div class="card" id="criteriaCard">
            <div class="card-body">
                <h2 class="card-title">
                    Kriterien
                </h2>
                <!-- Formular zum Speichern der Kriterien -->
                <form method="post" th:action="@{/settings/saveCriteria}" id="criteriaForm" th:object="${criteriaForm}">
                    <div th:each="criterionForm, stat: ${criteriaForm.criteria}">
                        <input type="text" th:field="*{criteria[__${stat.index}__].id}" style="display: none;">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <strong><label th:for="'criteria' + ${stat.index} + '.name'">Bezeichnung:</label></strong>
                                    <input type="text" class="form-control" th:field="*{criteria[__${stat.index}__].name}" placeholder="z.B.: Trainingsbeteiligung">
                                    <div class="error text-danger" th:if="${#fields.hasErrors('criteria[' + stat.index + '].name')}" th:errors="*{criteria[__${stat.index}__].name}"></div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-2">
                                <div class="form-group">
                                    <strong><label th:for="'criteria' + ${stat.index} + '.abbrev'">Abkürzung:</label></strong>
                                    <input type="text" class="form-control" th:field="*{criteria[__${stat.index}__].abbrev}" placeholder="z.B.: T">
                                    <div class="error text-danger" th:if="${#fields.hasErrors('criteria[' + stat.index + '].abbrev')}" th:errors="*{criteria[__${stat.index}__].abbrev}"></div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-2">
                                <div class="form-group">
                                    <strong><label th:for="'criteria' + ${stat.index} + '.weight'">Gewicht:</label></strong>
                                    <input type="number" step="0.01" class="form-control" th:field="*{criteria[__${stat.index}__].weight}" placeholder="z.B.: 0,35">
                                    <div class="error text-danger" th:if="${#fields.hasErrors('criteria[' + stat.index + '].weight')}" th:errors="*{criteria[__${stat.index}__].weight}"></div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-2">
                                <div class="form-group" style="padding-top: 38px;">
                                    <input type="checkbox" th:field="*{criteria[__${stat.index}__].toDelete}">
                                    <label th:for="'criteria' + ${stat.index} + '.toDelete'"><strong class="text-danger">Löschen?</strong></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center-button">
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Card: Formation -->
        <div class="card" id="formationCard">
            <div class="card-body">
                <h2 class="card-title">
                    Formation
                </h2>
                <!-- Formular zum Speichern der Formation -->
                <form id="formationForm" method="post" th:action="@{/settings/saveFormation}" th:object="${formationForm}">
                    <div class="form-group">
                        <label for="name">Bezeichnung:</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="z.B.: 4-2-3-1">
                        <div class="error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>

                    <!-- Felder für die einzelnen Positionen -->
                    <div class="form-row">
                        <div th:each="i : ${#numbers.sequence(0, 10)}" class="form-group col-md-3">
                            <label th:for="'position' + ${i}">Position [[${i+1}]]:</label>
                            <input type="text" class="form-control mb-2" th:id="'position' + ${i}" th:field="*{positions[__${i}__]}" th:placeholder="'z.B.: ' + ${templatePositions[__${i}__]}">
                            <div class="error text-danger" th:if="${#fields.hasErrors('positions[' + i + ']')}" th:errors="*{positions[__${i}__]}"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
