<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Einstellungen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Hauptinhalt: Einstellungen -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Einstellungen</h1>

        <!-- Card: Formation -->
        <div class="card" id="formationCard">
            <div class="card-body">
                <h2 class="card-title">
                    Formation
                </h2>
                <!-- Formular zum Speichern der Formation -->
                <form id="formationForm" method="post" th:action="@{/settings/saveFormation}" th:object="${formationForm}">
                    <div class="form-group">
                        <label for="name">Bezeichnung:</label>
                        <input type="text" class="form-control" th:field="*{name}" placeholder="z.B.: 4-2-3-1">
                        <div class="error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>

                    <!-- Felder für die einzelnen Positionen -->
                    <div class="form-row">
                        <div th:each="i : ${#numbers.sequence(0, 10)}" class="form-group col-md-3">
                            <label th:for="'position' + ${i}">Position [[${i+1}]]:</label>
                            <input type="text" class="form-control mb-2" th:id="'position' + ${i}" th:field="*{positions[__${i}__]}" th:placeholder="'z.B.: ' + ${templatePositions[__${i}__]}">
                            <div class="error text-danger" th:if="${#fields.hasErrors('positions[' + i + ']')}" th:errors="*{positions[__${i}__]}"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Speichern</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
