<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Startseite</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- H1-Überschrift -->
    <h1>Team verwalten</h1>

    <!-- Bereich zur Anzeige und Änderung des Teamnamens -->
    <div class="card team-name">
        <h2 class="card-title">
            Teamname
        </h2>
        <div class="card-body">
            <p id="teamNameDisplay">
                Spring Boot Football Club
            </p>
            <div id="teamNameField">
                <input type="text" id="teamNameInput" value="Spring Boot Football Club">
            </div>
            <button type="button" class="btn" id="teamNameBtn">
                Teamnamen ändern
            </button>
        </div>
    </div>

    <!-- Bereich zur Anzeige und Änderung der Formation -->
    <div class="card formation">
        <h2 class="card-title">
            Formation
        </h2>
        <div class="card-body">
            <p id="formationDisplay">
                3-4-3
            </p>
            <div id="formationField">
                <input type="text" id="formationInput" value="3-4-3">
            </div>
            <div class="formation-buttons">
                <button type="button" class="btn" id="formationBtn">
                    Formation ändern
                </button>
                <button type="button" class="btn" id="addFormationBtn">
                    Formationen verwalten
                </button>
            </div>
        </div>
    </div>

    <!-- Bereich zur Anzeige und Verwaltung der Spieler im Team -->
     <div class="card team">
        <h2 class="card-title">
            Spieler im Team
        </h2>
        <div class="card-body">
            <table class="table">
                <thead>
                    <!-- Kopfzeile -->
                    <tr>
                        <!-- Hier kommen die Überschriften der Spalten hin -->
                    </tr>
                </thead>
                <tbody>
                    <!-- Hier kommen die Spieler im Team hin -->
                </tbody>
            </table>
        </div>
     </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
