<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Startseite</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- H1-Überschrift -->
    <h1>Team verwalten</h1>

    <!-- Bereich zur Anzeige und Änderung des Teamnamens -->
    <div class="card team-name">
        <h2 class="card-title">
            Teamname
        </h2>
        <div class="card-body">
            <p id="teamNameDisplay">
                Spring Boot Football Club
            </p>
            <div id="teamNameField">
                <input type="text" id="teamNameInput" value="Spring Boot Football Club">
            </div>
            <button type="button" class="btn" id="teamNameBtn">
                Teamnamen ändern
            </button>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
