<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpielzeitenPlaner: Startseite</title>
</head>
<body>
    <h1>Willkommen beim SpielzeitenPlaner!</h1>
    <div class="jumbotron">
        <p class="lead">
            Der einfachste Weg, deine Jugendfußball-Spiele zu planen und zu verwalten. 
            Nutze unsere Tools, um die Spielzeiten deiner Spieler aufgrund eigens festgelegter Kriterien 
            zu planen. 
        </p>
    </div>

</body>
</html>