<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Kader bestätigen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
    <link th:href="@{/css/spielzeiten.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Hauptbereich: Überprüfung und ggfs. Anpassung des Kaders -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Spielzeiten planen</h1>

        <!-- Kurze Beschreibung -->
        <p class="lead">
            Überprüfe nun den Kader für das kommende Spiel. 
            Du kannst noch manuell Änderungen vornehmen, falls du einen Spieler entgegen der Empfehlung des 
            SpielzeitenPlaners Zuhause lassen oder eben doch mitnehmen möchtest. 
        </p>

        <!-- Bereich: Kader bestätigen/ändern -->
        <form method="post" th:action="@{/spielzeiten/determineStartingXI}" id="kader">
            <h2>Im Kader:</h2>
            <!-- Liste: Im Kader  -->
            <div id="playersIn">
                <div th:each="player, stat : ${squad}" class="player-card">
                    <input checked class="form-check-input" type="checkbox" 
                            th:id="'player' + ${stat.index}" th:name="squadIds" 
                            th:value="${player.id}">
                    <div class="player-info">
                        <label th:for="'player' + ${stat.index}">
                            <strong>
                                <span th:text="${player.firstName} + ' ' + ${player.lastName}">Max Mustermann</span>
                            </strong>
                        </label>
                        <span th:text="'Position: ' + ${player.position}">Position: Stürmer</span>
                        <span th:text="'Trikotnr.: ' + ${player.jerseyNumber}">Nummer: 9</span>
                        <strong><span th:text="'Gesamt-Score: ' + ${totalScoresSquad[stat.index]}">Gesamt-Score: 9,2</span></strong>
                        <span th:if="${nameCriterion1} != ''" th:text="${nameCriterion1} + ': ' + ${scoresCriterion1Squad[stat.index]}">Kriterium 1: 5,0</span>
                        <span th:if="${nameCriterion2} != ''" th:text="${nameCriterion2} + ': ' + ${scoresCriterion2Squad[stat.index]}">Kriterium 2: 4,4</span>
                    </div>
                </div>
            </div>

            <h2>Nicht dabei:</h2>
            <!-- Liste: Nicht dabei -->
            <div id="playersOut">
                <div th:each="player, stat : ${notInSquad}" class="player-card">
                    <input class="form-check-input" type="checkbox" 
                            th:id="'player' + ${squad.size() + stat.index - 1}" th:name="squadIds" 
                            th:value="${player.id}">
                    <div class="player-info">
                        <label th:for="'player' + ${squad.size() + stat.index - 1}">
                            <strong>
                                <span th:text="${player.firstName} + ' ' + ${player.lastName}">Max Mustermann</span>
                            </strong>
                        </label>
                        <span th:text="'Position: ' + ${player.position}">Position: Stürmer</span>
                        <span th:text="'Trikotnr.: ' + ${player.jerseyNumber}">Nummer: 9</span>
                        <strong><span th:text="'Gesamt-Score: ' + ${totalScoresNotInSquad[stat.index]}">Gesamt-Score: 9,2</span></strong>
                        <span th:if="${nameCriterion1} != ''" th:text="${nameCriterion1} + ': ' + ${scoresCriterion1NotInSquad[stat.index]}">Kriterium 1: 5,0</span>
                        <span th:if="${nameCriterion2} != ''" th:text="${nameCriterion2} + ': ' + ${scoresCriterion2NotInSquad[stat.index]}">Kriterium 2: 4,4</span>
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-primary">Weiter zur Startelf</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
