<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Spielzeiten berechnen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Hier entsteht die Seite Spielzeiten berechnen/Kader -->

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
