<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Verfügbare Spieler</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
    <link th:href="@{/css/spielzeiten.css}" rel="stylesheet">
</head>

<body>
    <!-- Hintergrund-Overlay -->
    <div class="overlay"></div>

    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Hauptbereich: Auswahl der Spieler für die Spielzeitenberechnung -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Spielzeiten planen</h1>

        <!-- Kurze Beschreibung -->
        <p class="lead">
            Wähle hier diejenigen Spieler aus, die für das kommende Spiel zur Verfügung stehen.
        </p>

        <!-- Bereich: Spieler auswählen -->
        <form method="post" th:action="@{/spielzeiten/kader}" id="availablePlayers">
            <!-- Liste aller Spieler in der Mannschaft -->
            <div th:each="player, stat : ${players}" class="player-card">
                <input checked class="form-check-input" type="checkbox" 
                        th:id="'player' + ${stat.index}" th:name="'availablePlayers'" 
                        th:value="${player.id}">
                <div class="player-info">
                    <label th:for="'player' + ${stat.index}"><strong>
                        <span th:text="${player.firstName} + ' ' + ${player.lastName}">Max Mustermann</span>
                    </strong></label>
                    <span th:text="'Position: ' + ${player.position}">Position: Stürmer</span>
                    <span th:text="'Trikotnr.: ' + ${player.jerseyNumber}">Nummer: 9</span>
                    <strong><span th:text="'Gesamt-Score: ' + ${totalScores[stat.index]}">Gesamt-Score: 9,2</span></strong>
                    <span th:if="${nameCriterion1} != ''" th:text="${nameCriterion1} + ': ' + ${scoresCriterion1[stat.index]}">Kriterium 1: 5,0</span>
                    <span th:if="${nameCriterion2} != ''" th:text="${nameCriterion2} + ': ' + ${scoresCriterion2[stat.index]}">Kriterium 2: 4,4</span>
                </div>
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-primary">Weiter zum Kader</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
