<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Startelf bestätigen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
    <link th:href="@{/css/spielzeiten.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Haupbereich: Überprüfung und ggfs. Anpassung der Startelf -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Spielzeiten planen</h1>

        <p class="lead">
            Überprüfe nun die Startelf für das kommende Spiel. 
            Du kannst noch manuell Änderungen vornehmen, falls du einen Spieler entgegen der Empfehlung des 
            SpielzeitenPlaners starten lassen oder eben doch auf die Bank setzen möchtest. 
        </p>

        <!-- Bereich: Startelf bestätigen/ändern -->
        <form method="post" th:action="@{/spielzeiten/updateStartingXI}" id="startingXI">
            <!-- Card für die Startelf -->
            <div class="card" id="cardStartingXI">
                <div class="card-body">
                    <h2 class="card-title">
                        Startelf
                    </h2>
                    <p><strong>Formation:</strong> 3-4-3</p>
                    <!-- Startelf -->
                    <div class="row justify-content-center">
                        <!-- Angriff -->
                        <div class="col-md-12 text-center mb-3">
                            <h3>Angriff</h3>
                            <div id="attack" class="d-flex justify-content-center">
                                <div class="player" th:each="i : ${#numbers.sequence(numOfDEF + numOfMID + 1, 10)}">
                                    <div class="player-name">
                                        <div class="player-firstname" th:text="${startingXI.get(i).firstName}"></div>
                                        <div class="player-lastname" th:text="${startingXI.get(i).lastName}"></div>
                                    </div>
                                    <div class="player-info-2">
                                        <div class="top">
                                            <div class="player-position" th:text="${positions.get(i)}"></div>
                                            <div class="score-gesamt" th:text="${totalScoresStartingXI.get(i)}"></div>
                                        </div>
                                        <div class="bottom">
                                            <label th:for="'select' + ${i}">Neue Pos.:</label>
                                            <select th:id="'select' + ${i}" th:name="changes">
                                                <option th:each="position, stat : ${positions}" 
                                                        th:value="${stat.index}" th:text="${position}"
                                                        th:selected="${stat.index == i}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Mittelfeld -->
                        <div class="col-md-12 text-center mb-3">
                            <h3>Mittelfeld</h3>
                            <div id="midfield" class="d-flex justify-content-center">
                                <div class="player" th:each="i : ${#numbers.sequence(numOfDEF + 1, numOfDEF + numOfMID)}">
                                    <div class="player-name">
                                        <div class="player-firstname" th:text="${startingXI.get(i).firstName}"></div>
                                        <div class="player-lastname" th:text="${startingXI.get(i).lastName}"></div>
                                    </div>
                                    <div class="player-info-2">
                                        <div class="top">
                                            <div class="player-position" th:text="${positions.get(i)}"></div>
                                            <div class="score-gesamt" th:text="${totalScoresStartingXI.get(i)}"></div>
                                        </div>
                                        <div class="bottom">
                                            <label th:for="'select' + ${i}">Neue Pos.:</label>
                                            <select th:id="'select' + ${i}" th:name="changes">
                                                <option th:each="position, stat : ${positions}" 
                                                        th:value="${stat.index}" th:text="${position}"
                                                        th:selected="${stat.index == i}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Verteidigung -->
                        <div class="col-md-12 text-center mb-3">
                            <h3>Abwehr</h3>
                            <div id="defenders" class="d-flex justify-content-center">
                                <div class="player" th:each="i : ${#numbers.sequence(1, numOfDEF)}">
                                    <div class="player-name">
                                        <div class="player-firstname" th:text="${startingXI.get(i).firstName}"></div>
                                        <div class="player-lastname" th:text="${startingXI.get(i).lastName}"></div>
                                    </div>
                                    <div class="player-info-2">
                                        <div class="top">
                                            <div class="player-position" th:text="${positions.get(i)}"></div>
                                            <div class="score-gesamt" th:text="${totalScoresStartingXI.get(i)}"></div>
                                        </div>
                                        <div class="bottom">
                                            <label th:for="'select' + ${i}">Neue Pos.:</label>
                                            <select th:id="'select' + ${i}" th:name="changes">
                                                <option th:each="position, stat : ${positions}" 
                                                        th:value="${stat.index}" th:text="${position}"
                                                        th:selected="${stat.index == i}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Torwart -->
                        <div class="col-md-12 text-center mb-3">
                            <h3>Torwart</h3>
                            <div id="goalkeeper" class="d-flex justify-content-center">
                                <div class="player">
                                    <div class="player-name">
                                        <div class="player-firstname" th:text="${startingXI.get(0).firstName}"></div>
                                        <div class="player-lastname" th:text="${startingXI.get(0).lastName}"></div>
                                    </div>
                                    <div class="player-info-2">
                                        <div class="top">
                                            <div class="player-position" th:text="${positions.get(0)}"></div>
                                            <div class="score-gesamt" th:text="${totalScoresStartingXI.get(0)}"></div>
                                        </div>
                                        <div class="bottom">
                                            <label th:for="'select' + ${0}">Neue Pos.:</label>
                                            <select th:id="'select' + ${0}" th:name="changes">
                                                <option th:each="position, stat : ${positions}" 
                                                        th:value="${stat.index}" th:text="${position}"
                                                        th:selected="${stat.index == 0}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card für die Ersatzbank -->
            <div class="card" id="cardReserve">
                <div class="card-body">
                    <h2 class="card-title">
                        Ersatzbank
                    </h2>
                    <div class="row">
                        <!-- Ersatzspieler -->
                        <div class="col">
                            <div id="reserve" class="d-flex justify-content-center">
                                <div class="player" th:each="player, stat : ${bench}">
                                    <div class="player-name">
                                        <div class="player-firstname" th:text="${player.firstName}"></div>
                                        <div class="player-lastname" th:text="${player.lastName}"></div>
                                    </div>
                                    <div class="player-info-2">
                                        <div class="top">
                                            <div class="player-position" th:text="${player.position}"></div>
                                            <div class="score-gesamt" th:text="${totalScoresBench.get(stat.index)}"></div>
                                        </div>
                                        <div class="bottom">
                                            <label th:for="'select' + ${11 + stat.index}">Neue Pos.:</label>
                                            <select th:id="'select' + ${11 + stat.index}" th:name="changes">
                                                <option selected th:value="${11 + stat.index}" th:text="RES"></option>
                                                <option th:each="position, statP : ${positions}" 
                                                        th:value="${statP.index}" th:text="${position}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button type="submit" class="btn btn-primary">Startelf aktualisieren</button>
                <button class="btn btn-primary">Weiter zu "Wechsel eintragen"</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
