<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Wechsel eintragen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
    <link th:href="@{/css/spielzeiten.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Haupbereich: Wechsel eintragen -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Spielzeiten planen</h1>

        <p class="lead">
            Fast geschafft! Jetzt fehlen dir nur noch die Wechsel. 
            Wähle im Bereich "Wechsel eintragen" für jeden Spieler auf der Ersatzbank einen Spieler aus der Startelf aus, 
            um den Wechsel durchzuführen. Dabei solltest du stets die vom SpielzeitenPlaner vorgeschlagenen Spielminuten mit 
            den tatsächlichen Minuten abgleichen, um eine faire Aufteilung der Spielzeiten zu erhalten. 
        </p>

        <!-- Card für die Startelf -->
        <div class="card" id="cardStartingXI">
            <div class="card-body">
                <h2 class="card-title">
                    Startelf
                </h2>
                <p><strong>Formation:</strong> 3-4-3</p>
                <!-- Startelf -->
                <div class="row justify-content-center">
                    <!-- Angriff -->
                    <div class="col-md-12 text-center mb-3">
                        <h3>Angriff</h3>
                        <div id="attack" class="d-flex justify-content-center">
                            <!-- Hier kommen die Startelf-Spieler hin, die im Angriff spielen  -->
                        </div>
                    </div>
                    <!-- Mittelfeld -->
                    <div class="col-md-12 text-center mb-3">
                        <h3>Mittelfeld</h3>
                        <div id="midfield" class="d-flex justify-content-center">
                            <!-- Hier kommen die Startelf-Spieler hin, die im Mittelfeld spielen  -->
                        </div>
                    </div>
                    <!-- Verteidigung -->
                    <div class="col-md-12 text-center mb-3">
                        <h3>Abwehr</h3>
                        <div id="defenders" class="d-flex justify-content-center">
                            <!-- Hier kommen die Startelf-Spieler hin, die in der Abwehr spielen  -->
                        </div>
                    </div>
                    <!-- Torwart -->
                    <div class="col-md-12 text-center mb-3">
                        <h3>Torwart</h3>
                        <div id="goalkeeper" class="d-flex justify-content-center">
                            <!-- Hier kommen die Startelf-Spieler hin, der im Tor steht  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card für die Ersatzbank -->
        <div class="card" id="cardReserve">
            <div class="card-body">
                <h2 class="card-title">
                    Ersatzbank
                </h2>
                <div class="row justify-content-center">
                    <!-- Ersatzspieler -->
                    <div class="col-md-12 text-center mb-3">
                        <div id="reserve" class="d-flex justify-content-center">
                            <!-- Hier kommen die Auswechselspieler hin -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Formular für die bereits eingetragenen Wechsel -->
        <form id="substitutions">
            <!-- Es folgt: Card für die bereits eingetragenen Wechsel -->
        </form>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
