<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Wechsel eintragen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
    <link th:href="@{/css/spielzeiten.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Haupbereich: Wechsel eintragen -->
    <div class="container mt-4">
        <!-- H1-Überschrift -->
        <h1>Spielzeiten planen</h1>

        <p class="lead">
            Fast geschafft! Jetzt fehlen dir nur noch die Wechsel. 
            Wähle im Bereich "Wechsel eintragen" für jeden Spieler auf der Ersatzbank einen Spieler aus der Startelf aus, 
            um den Wechsel durchzuführen. Dabei solltest du stets die vom SpielzeitenPlaner vorgeschlagenen Spielminuten mit 
            den tatsächlichen Minuten abgleichen, um eine faire Aufteilung der Spielzeiten zu erhalten. 
        </p>

        <!-- Card für die Startelf -->
        <div class="card" id="cardStartingXI">
            <div class="card-body">
                <h2 class="card-title">
                    Startelf
                </h2>
                <p><strong>Formation:</strong> 3-4-3</p>
                <!-- Startelf -->
                <div class="row justify-content-center">
                    <!-- Angriff -->
                    <div class="col-md-12 mb-3">
                        <h3 class="text-center">Angriff</h3>
                        <div id="attack" class="d-flex justify-content-center">
                            <div class="player mx-2" th:each="i : ${#numbers.sequence(numOfDEF + numOfMID + 1, 10)}">
                                <div class="player-name">
                                    <div class="player-firstname" th:text="${startingXI.get(i).firstName}"></div>
                                    <strong>
                                        <div class="player-lastname" th:text="${startingXI.get(i).lastName}"></div>
                                    </strong>
                                </div>
                                <div class="player-info-2">
                                    <div class="top">
                                        <div class="player-position" th:text="${positions.get(i)}"></div>
                                        <div class="score-gesamt" th:text="${totalScoresStartingXI.get(i)}"></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="minutes-played">70</div>
                                        <div class="substituted">50</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Mittelfeld -->
                    <div class="col-md-12 mb-3">
                        <h3 class="text-center">Mittelfeld</h3>
                        <div id="midfield" class="d-flex justify-content-center">
                            <div class="player mx-2" th:each="i : ${#numbers.sequence(numOfDEF + 1, numOfDEF + numOfMID)}">
                                <div class="player-name">
                                    <div class="player-firstname" th:text="${startingXI.get(i).firstName}"></div>
                                    <strong>
                                        <div class="player-lastname" th:text="${startingXI.get(i).lastName}"></div>
                                    </strong>
                                </div>
                                <div class="player-info-2">
                                    <div class="top">
                                        <div class="player-position" th:text="${positions.get(i)}"></div>
                                        <div class="score-gesamt" th:text="${totalScoresStartingXI.get(i)}"></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="minutes-played">70</div>
                                        <div class="substituted">50</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Verteidigung -->
                    <div class="col-md-12 mb-3">
                        <h3 class="text-center">Abwehr</h3>
                        <div id="defenders" class="d-flex justify-content-center">
                            <div class="player mx-2" th:each="i : ${#numbers.sequence(1, numOfDEF)}">
                                <div class="player-name">
                                    <div class="player-firstname" th:text="${startingXI.get(i).firstName}"></div>
                                    <strong>
                                        <div class="player-lastname" th:text="${startingXI.get(i).lastName}"></div>
                                    </strong>
                                </div>
                                <div class="player-info-2">
                                    <div class="top">
                                        <div class="player-position" th:text="${positions.get(i)}"></div>
                                        <div class="score-gesamt" th:text="${totalScoresStartingXI.get(i)}"></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="minutes-played">70</div>
                                        <div class="substituted">50</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Torwart -->
                    <div class="col-md-12 mb-3">
                        <h3 class="text-center">Torwart</h3>
                        <div id="goalkeeper" class="d-flex justify-content-center">
                            <div class="player mx-2">
                                <div class="player-name">
                                    <div class="player-firstname" th:text="${startingXI.get(0).firstName}"></div>
                                    <strong>
                                        <div class="player-lastname" th:text="${startingXI.get(0).lastName}"></div>
                                    </strong>
                                </div>
                                <div class="player-info-2">
                                    <div class="top">
                                        <div class="player-position" th:text="${positions.get(0)}"></div>
                                        <div class="score-gesamt" th:text="${totalScoresStartingXI.get(0)}"></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="minutes-played">70</div>
                                        <div class="substituted">50</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card für die Ersatzbank -->
        <div class="card" id="cardReserve">
            <div class="card-body">
                <h2 class="card-title">
                    Ersatzbank
                </h2>
                <div class="row justify-content-center">
                    <!-- Ersatzspieler -->
                    <div class="col">
                        <div id="reserve" class="d-flex justify-content-center">
                            <div class="player mx-2" th:each="player, stat : ${bench}">
                                <div class="player-name">
                                    <div class="player-firstname" th:text="${player.firstName}"></div>
                                    <strong>
                                        <div class="player-lastname" th:text="${player.lastName}"></div>
                                    </strong>
                                </div>
                                <div class="player-info-2">
                                    <div class="top">
                                        <div class="player-position" th:text="${player.position}"></div>
                                        <div class="score-gesamt" th:text="${totalScoresBench.get(stat.index)}"></div>
                                    </div>
                                    <div class="bottom">
                                        <div class="minutes-played">70</div>
                                        <div class="substituted">50</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card für die eingetragenen Wechsel -->
        <div id="cardSubstitutions" class="card">
            <div class="card-body">
                <h2 class="card-title">
                    Wechsel
                </h2>
                <!-- Liste der Wechsel -->
                <ul th:each="substitution : ${substitutions}" style="display: flex; flex-direction: row;">
                    <div class="substitution">
                        <div class="substitution-content">
                            <div class="substitution-time" th:text="${substitution.minute} + '\':'">35'</div>
                            <div class="player-in">
                                <div class="player-name" th:text="${substitution.playerIn}"></div>
                            </div>
                            <div class="substitution-arrow">→</div> <!-- Pfeil für die Einwechslung -->
                            <div class="player-out">
                                <div class="player-name" th:text="${substitution.playerOut}"></div>
                            </div>
                        </div>
                    </div>
                    <form method="post" th:action="@{/spielzeiten/deleteSubstitution}" class="ml-2">
                        <input type="text" th:name="idToDelete" th:value="${substitution.id}" style="display: none;">
                        <button type="submit" class="btn btn-danger">Löschen</button>
                    </form>
                </ul>
                <!-- Formular zum Eintragen eines neuen Wechsels -->
                <form method="post" th:action="@{/spielzeiten/addSubstitution}" id="addSubstitution" class="d-flex align-items-center justify-content-start" style="margin-top: 50px;">
                    <input type="text" name="id" th:value="${substitutions.size() + 1}" style="display: none;">
                    <div class="form-group mr-3">
                        <label for="minute">Minute:</label>
                        <input type="number" id="minute" class="form-control" th:name="minute" value="35">
                    </div>
                    <div class="form-group mr-3">
                        <label for="playerIn">Einwechselspieler:</label>
                        <select class="form-control" id="playerIn" name="playerIn">
                            <option th:each="player, stat : ${squad}" th:text="${player.firstName + ' ' + player.lastName}" 
                                    th:value="${player.firstName + ' ' + player.lastName}"
                                    th:name="playerIn"
                                    th:selected="${stat.index == 2}">Spieler auswählen</option>
                        </select>
                    </div>
                    <div class="form-group mr-3">
                        <label for="playerOut">Auswechselspieler:</label>
                        <select class="form-control" id="playerOut" name="playerOut">
                            <option th:each="player, stat : ${squad}" th:text="${player.firstName + ' ' + player.lastName}" 
                                    th:value="${player.firstName + ' ' + player.lastName}"
                                    th:name="playerOut"
                                    th:selected="${stat.index == 15}">Spieler auswählen</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 14px;">Wechsel eintragen</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
