/* Basic CSS Styling */

body {
    padding-top: 56px;
    margin-bottom: 80px;
    background: linear-gradient(to bottom right, #e8f5e9, #f4f4f4);
    background-attachment: fixed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: inherit;
}


/* Navbar */

.navbar {
    background-color: #007f00;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 300;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
}


/* Jumbotron */

.jumbotron {
    background: rgba(232, 245, 233, 0.8);
    padding: 3rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.jumbotron h1 {
    color: #007f00;
    font-size: 2.5rem;
    font-weight: 300;
}


/* Cards */ 

.card {
    margin-bottom: 1rem;
    border: 1px solid #007f00;
}

.card-body {
    background-color: #f5f5dc;
}

.card-title {
    color: #007f00;
}

.card-footer {
    background-color: #f5f5dc;
    border: none;
}


/* Buttons */

.btn-primary {
    background-color: #ff6600;
    border-color: #ff6600;
}
.btn-primary:hover {
    background-color: #e65c00;
    border-color: #e65c00;
}


/* Überschriften */ 

h2 {
    color: #007f00;
    font-size: 1.5rem;
    font-weight: 300;
}


/* Footer */

.footer {
    background: #007f00;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer p {
    margin: 0;
    padding: 0;
    line-height: 60px;
}


/* Bereich Neuigkeiten & Updates (welcome.html) */

.alert-info {
    background-color: #d0f0c0;
    border-color: #007f00;
}


/* Bereich Main Features (welcome.html) */

.main-features {
    margin-bottom: 50px;
}
