/* Spezifisches Styling des Spielzeiten-Bereichs */ 


/* Spielzeiten berechnen */

.player-card {
    margin-bottom: 1rem;
    padding: 15px;
    border: 1px solid #007f00;
    border-radius: 5px;
    background-color: #f5f5dc;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.player-info {
    flex: 1;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.player-info strong {
    color: #007f00;
    font-size: 1.1rem;
    margin-top: -2px;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    transform: scale(1.4);
    margin-top: 0px;
    margin-left: -5px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .player-info {
        flex-direction: column;
    }
}

@media (max-width: 992px) {
    #addSubstitution {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #addSubstitution button {
        margin-left: 0;
        margin-right: 18px;
    }
}

.player {
    background-color: #e0e0e0;
    border: 1px solid #8f8d8d;
    border-radius: 8px;
    padding: 5px;
    height: 70px;
    width: calc(20% - 20px);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 0.9em;
    color: #333;
}

.player-info-2 {
    display: flex;
    flex-direction: column; 
    position: absolute; 
    top: 0; 
    left: 5px; 
    right: 5px; 
    bottom: 0; 
    padding: 3px;
    box-sizing: border-box;
}

.player-info-2 .top {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.player-position {
    font-weight: bold;
}

.score-gesamt {
    font-weight: bold;
    color: #333;
}

.minutes-played {
    align-self: flex-end;
    font-weight: bold;
    color: #007f00;
}

.substituted {
    align-self: flex-end;
    font-weight: bold;
    color: #ff6600;
}

.player-info-2 .bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label {
    margin-top: auto; 
}

select {
    margin-top: 5px; 
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.substitution {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
    background-color: #e0e0e0;
    border: 1px solid #8f8d8d;
    border-radius: 8px;
    width: 50%;
}
.substitution-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.substitution-arrow {
    margin: 0 10px;
    font-size: 1.5rem;
    color: black;
}
.substitution-time {
    margin-left: 20px;
    margin-right: 20px;
}
.player-out .player-name {
    color: #ff0000; /* Rot für den Spieler, der ausgewechselt wird */
}
.player-in .player-name {
    color: #007f00; /* Grün für den Spieler, der eingewechselt wird */
}
