/* Spezifisches Styling der welcome.html */ 


/* Jumbotron */

.jumbotron {
    background: rgba(232, 245, 233, 0.8);
    padding: 3rem;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.jumbotron h1 {
    color: #007f00;
    font-size: 2.5rem;
    font-weight: 300;
}


/* Bereich Neuigkeiten & Updates (welcome.html) */

.alert-info {
    background-color: #d0f0c0;
    border-color: #007f00;
}


/* Bereich Main Features (welcome.html) */

.main-features {
    margin-bottom: 50px;
}
