<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Spieler bearbeiten/hinzufügen</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
    <link th:href="@{/css/team.css}" rel="stylesheet">
</head>

<body>
    <!-- Hintergrund-Overlay -->
    <div class="overlay"></div>

    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- Hauptbereich zum Bearbeiten und/oder Hinzufügen von Spielern -->
    <div class="container mt-4">
        <!-- Erfolgsmeldung -->
        <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>

        <!-- H1-Überschrift -->
        <h1>Spieler bearbeiten/hinzufügen</h1>

        <!-- Spielerinformationen -->
        <div class="card player-data">
            <div class="card-body">
                <h2 class="card-title">
                    Spieler-Daten
                </h2>
                <div class="player-info">
                    <div class="info-container">
                        <form id="playerForm" method="post" th:action="@{/team/savePlayer}" th:object="${playerForm}">
                            <input disabled type="text" id="id" th:field="*{id}" style="display: none;">
                            <div class="form-group">
                                <strong><label for="firstName">Vorname:</label></strong>
                                <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="z.B.: Max">
                                <div class="error text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                            </div>
                            <div class="form-group">
                                <strong><label for="lastName">Nachname:</label></strong>
                                <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="z.B.: Mustermann">
                                <div class="error text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                            </div>
                            <div class="form-group">
                                <strong><label for="position">Position:</label></strong>
                                <input type="text" class="form-control" id="position" th:field="*{position}" placeholder="z.B.: ST">
                                <div class="error text-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></div>
                            </div>
                            <div class="form-group">
                                <strong><label for="jerseyNumber">Trikotnummer:</label></strong>
                                <input type="text" class="form-control" id="jerseyNumber" th:field="*{jerseyNumber}" placeholder="z.B.: 11">
                                <div class="error text-danger" th:if="${#fields.hasErrors('jerseyNumber')}" th:errors="*{jerseyNumber}"></div>
                            </div>
                            <div class="center-button">
                                <button type="submit" class="btn btn-primary">Speichern</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Spieler-Scores -->
        <div class="card scores">
            <div class="card-body">
                <h2 class="card-title">
                    Scores
                </h2>
                <div class="player-scores">
                    <div class="scores-container">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p><strong>Leistung (L):</strong> 8</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <p><strong>Training (T):</strong> 7</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p><strong>Sozialverhalten (S):</strong> 9</p>
                            </div>
                            <div class="col-12 col-sm-6">
                                <p><strong>Engagement (E):</strong> 6</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <p style="font-size: large;"><strong>Gesamt-Score (Ges.):</strong> 30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
