<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SpielzeitenPlaner: Startseite</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/basics.css}" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <div th:replace="~{fragments/basics :: navbar}"></div>

    <!-- H1-Überschrift -->
    <h1>Recap</h1>

    <!-- Auswahl der Ansicht -->
    <div class="card" id="selectView">
        <div class="card-body">
            <h2 class="card-title">
                Ansicht wählen
            </h2>
            <form id="viewForm">
                <label for="viewSelection">
                    Wähle die für dich passende Ansicht
                </label>
                <select name="viewSelection" id="viewSelection">
                    <option value="players">Nach Spielern sortiert</option>
                    <option value="criteria">Nach Kriterien sortiert</option>
                </select>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{fragments/basics :: footer}"></div>

    <!-- Bootstrap JS and dependencies -->
    <div th:replace="~{fragments/basics :: bootstrap-dependencies}"></div>
</body>

</html>
